.low-spiciness {
    color: limegreen;
}
.high-spiciness {
    color: crimson;
}
.onclick {
    background-color: red;
    color: white;
    transition: 0.4s;
}
main ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
main ul li:hover {
    background-color: red;
    color: white;
    transition: 0.5s;

}
main {
    padding-top: 20px;
}
.products {
    width: 100%;
    background-color: blue;
    display: flex;
    flex-wrap: wrap;
}
.content-card {
    padding: 25px;
    background-color:#D36060;
    border-radius: 15px;
    transition: 0.5s;
    display: flex;
    flex-direction: column;
    margin: 0 auto;

}
.content-card:hover {
    transform: scale(1.03);
}
.card-img {
    width: 250px;
    height: 50%;
}
.card-img img {
    border-radius: 10px;
    width: 100%;
    height: 100%;
}
.card-info {
    display: flex;
    flex-direction: column;
    margin-top: 15px;
    height: 50%;
    justify-content: space-between;
}
.card-info p {
    background-color: aliceblue;
    padding: 5px;
    border-radius: 15px;
}
.ingredients {
    background-color: aliceblue;
    border-radius: 15px;
    padding: 0px;
}
.ingredients * {
    margin: 0px;
    padding: 0px;
}
.card-info button {
    border: 1px solid limegreen;
    background-color: limegreen;
    color: white;
    font-weight: bold;
    padding: 5px;
    border-radius: 5px;
    transition: 0.3s;
}
.card-info button:hover {
    border: 1px solid limegreen;
    background-color: #D36060;
    color: white;
}
.card-info h4 {
    font-size:20px;
    font-weight: bold;
    color: white;
}
.content {
    width: 100%;
    padding: 40px 0px 50px 0px;
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    padding-inline: 50px;
    gap: 15px;
}
.notfound {
    color: red;
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    font-weight: bold;
}
.main-section {
    position: relative;
    height: 100%;
}
section {
    background-color: #E0F7FA;
    min-height: 100vh;
}


@media screen and (min-width:1030px) {
    main {
        width: 100%;
        position: absolute;
        top: 20vh;
        display: flex;
        justify-content: center;
    }
}

/* @media screen and (min-width: 630px) {
    .content {
        grid-template-columns: auto auto;
        padding: 50px;
    }
    .content-card {
        width: 100%;
        height: 100%;
    }
}

@media screen and (min-width: 940px){
    .content {
        grid-template-columns: auto;
        padding: 50px;
    }
}
@media screen and (min-width:1420px){
    .content {
        grid-template-columns: auto auto auto auto;
        justify-content: center;
        padding: 50px;
    }
} */