nav div > img{
    width: 50px;
    border-radius: 7px;
}
.navbar {
    padding-inline: 50px;
}
.navItems a{
    font-weight: bold;
}
.navItems a:hover{
    color: #86CCD5;
}
.navItems a:last-child:hover {
    color: crimson;
}
.activeNav {
    color: #86CCD5;
}
.activeNavRes {
    color:crimson;
}
.length {
    padding: 5px;
    background-color: red;
    border-radius: 50%;
}