nav div > img{
    width: 50px;
    border-radius: 7px;
    padding-inline: 0;
}
nav {
    padding-inline: 48px;
}
.navItems a{
    font-weight: bold;
}
.navItems a:hover{
    color: #86CCD5;
}
.activeNav {
    color: #86CCD5;
}