
.bg-sect {
    width: 100%;
    height: 100%;
}
.header {
    position: relative;
}
.cover {
    width: 100%;
    min-height: 25vh;
    object-fit: cover;
}

.heading, .heading span {
    display: flex;
    align-items: center;
}

.main {
    color: white;
    right: 10px;
    padding-right: 5%;
    font-weight: bold;
    padding-top: 15px;
    position: absolute;
    top: 20px;
}
.main h1 {
    font-size: 21px;
}   
.para p {
    text-align: end;
    padding-right: 15px;
}
.para button {
    margin-right: 20px;
    border: none;
    border-radius: 15px;
    height: 40px;
    padding-inline: 20px;
    background-color: #004F94;
    color: white;
    font-weight: bold;
    transition: 0.5s;
    float: right;
}
.para button:hover {
    background-color: #4278a6;
}
.guests-heading {
    color: gray;
    padding-inline: 50px;
}
.guests-heading hr {
    width: 100%;
}
.h2 {
    min-width: fit-content;
    text-align: center;
    padding-inline: 15px;
}
.content-usp {
    display: flex;
    flex-direction: column;
    gap: 35px;
    padding-top: 50px;
}
.item {
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.icon {
    border: 1px solid  #86CCD5;
    width: min-content;
    padding: 30px;
    border-radius: 50px;
    margin: 0 auto;
    color: #86CCD5;
    transition: 0.5s;
}
.icon:hover {
    color: white;
    background-color: #86CCD5;
}
.icon svg {
    height: 25px;
    width: 25px;
}
.item a {
    font-weight: bold;
    color: #86CCD5;
    transition: 0.4s;
    text-decoration: none;
}
.item > a:hover {
    color: black;
}
.usp-section {
    height: 100%;
    margin: 0 0 200px 0;
}
.sect-2 {
    padding-top: 5%;
    height: 100%;
}
.content-card {
    width: 100%;
    height: 380px !important;
    padding: 25px;
    background-color: aliceblue;
    border-radius: 15px;
    transition: 0.5s;
    display: flex;
    flex-direction: column;
    margin: 0 auto;

}
.content-card:hover {
    transform: scale(1.03);
}
.card-img {
    height: 50%;
}
.card-img img {
    border-radius: 10px;
    width: 100%;
    height: 100%;
}
.card-info {
    display: flex;
    flex-direction: column;
    margin-top: 15px;
    height: 50%;
    justify-content: space-between;
}
.card-info button {
    border: 1px solid #86CCD5;
    background-color: #86CCD5;
    color: white;
    font-weight: bold;
    padding: 5px;
    border-radius: 5px;
    transition: 0.3s;
}
.card-info button:hover {
    border: 1px solid #86CCD5;
    background-color: aliceblue;
    color: #86CCD5;
}
.card-info h4 {
    font-size:17px;
    font-weight: bold;
}
.content {
    width: 100%;
    padding-top: 30px;
    display: grid;
    grid-template-columns: 2fr;
    gap:30px;
    padding-inline: 50px;

}




@media screen and (min-width: 630px) {
    .main h1 {
        font-size: 29px;
    }
    .main p {
        font-size: 18px;
    }
    .main {
        right: 30px;
    }

    .content {
        grid-template-columns: 1fr 1fr;
        padding: 50px;
    }
    .content-card {
        width: 100%;
        height: 100%;
    }
}
@media screen and (min-width: 940px){
    .content {
        grid-template-columns: 1fr 1fr 1fr;
        padding: 50px;
    }
}
@media screen and (min-width:1274px){
    .main {
        right: 165px;
    }
    .main h1{
        font-size: 39px;
    }
}
@media screen and (min-width:1420px){
    .content {
        grid-template-columns: auto auto auto auto;
        justify-content: center;
        padding: 50px;
    }
    .content-usp {
        display: flex;
        flex-direction: row;
    }
}
@media screen and (min-width:1650px){
    .content {
        grid-template-columns: auto auto auto auto auto auto;
        justify-content: center;
        padding: 50px;
    }
    .main {
        margin-top: 50px;
        right: 300px;
    }
    .main h1 {
        font-size: 34px;
    }
    .main button {
        width: 150px;
        height: 50px;
    }
    .main p {
        font-size: 24px;
    }
}