<div class="booking-section">
    <div class="slider">
        <img *ngIf="roomDetails" [src]="roomDetails.images[0].source" alt="">
    </div>
    <div class="form">
        <div class="form-header">
            <div class="form-title">
                <hr>
                <h3>Reservation</h3>
                <hr>    
            </div>
            <div class="form-info">
                <p>{{roomDetails.name}} <span>{{'$' + roomDetails.pricePerNight }},-<span class="pernight"> per night</span></span></p>
            </div>
        </div>
        <form [formGroup]="bookingForm" (ngSubmit)="bookRoom($event)">
            <label for="check-in">Check-in</label><br>
            <input type="date" name="" id="check-in" formControlName="checkIn"><br>
            <label for="check-out">Check-out</label><br>
            <input type="date" name="" id="check-out" formControlName="checkOut"><br>
            <label for="customerName">Customer Name</label><br>
            <input type="text" name="" id="customerName" formControlName="customerName"><br>
            <label for="customerPhone">Customer Tel:Phone</label><br>
            <input type="text" name="" id="customerPhone" formControlName="customerPhone"><br>
            <p *ngIf="bookingForm.invalid">Please Fill All The Information</p>
            <button type="submit">BOOK NOW</button>
        </form>
    </div>          
</div>